.container{
    width: 80%;
    height: 90%;
    background-color: antiquewhite;
}

.botones{
    width: 50%;
    height: 30%;
    background-color: rgb(239, 187, 119);

}

.btn1{
    background-color: rgb(65, 42, 198);
    color:white; /*color del texto*/
    text-decoration: none;
    padding: 10px;
}
.btn2{
    background-color:yellow;
    color:black;
    width: 200px;
    height: 50px;
    border-radius: 50px; /*redondeado*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold; /*negritas*/
}

