body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.slider-container {
    max-width: 500px;
    overflow: hidden;
}

.slider-container img {
    width: 100%;
    display: none;
}

.slider-container img:first-child {
    display: block;
}